td, th {
    text-align: center;
  }

.tableHeader {
  background: linear-gradient(to right, #00D8D6, #6EC1E4);
}

.subTotal {
  background: #E9ECEF;
}

.total {
  background: #d2d3d4;
}

.excelColor {
  background: #1D6F42;
  color: white;
}