<form *ngIf="tipoModal == 0">
    <div class="form-group">
        <label for="whatsapp">Mensaje</label>
        <textarea class="form-control" id="whatsapp" rows="5"></textarea>
    </div>
    <button type="submit" class="btn btn-success">Enviar</button>
    <button type="button" class="btn btn-danger ml-3">Cerrar</button>
</form>
<form *ngIf="tipoModal == 1">
    <div class="row">
        <div class="col">
          <label for="nombre" class="form-label">Nombre(s)<span class="text-danger"> *</span></label>
          <input type="text" class="form-control valGlobal" id="nombre" name="nombre" pattern="[a-zA-Z ]*">
        </div>

        <div class="col">
          <label for="paterno" class="form-label">Apellido Paterno<span class="text-danger"> *</span></label>
          <input type="text" class="form-control valGlobal" id="apaterno" name="apaterno" pattern="[a-zA-Z ]*">
        </div>

        <div class="col">
          <label for="materno" class="form-label">Apellido Materno<span class="text-danger"> *</span></label>
          <input type="text" class="form-control" id="amaterno" name="amaterno" pattern="[a-zA-Z ]*">
        </div>
      </div>

      <div class="row mt-4">
        <div class="col">
          <label for="calle" class="form-label">Calle<span class="text-danger"> *</span></label>
          <input type="text" class="form-control" id="calle1" name="calle1" ngModel #calle1="ngModel"
            [(ngModel)]="cotizadorServicio.calle1">
        </div>

        <div class="col">
          <label for="calle2" class="form-label">Calle 2</label>
          <input type="text" class="form-control" id="calle1" name="calle2" ngModel #calle2="ngModel"
            [(ngModel)]="cotizadorServicio.calle2">
        </div>
      </div>

      <div class="row mt-4">
        <div class="col-md-2">
          <label for="numExterior" class="form-label">Número Exterior<span class="text-danger"> *</span></label>
          <input type="text" class="form-control" name="numExterior" ngModel #numExterior="ngModel"
            [(ngModel)]="cotizadorServicio.noExt">
        </div>

        <div class="col-md-2">
          <label for="numInterior" class="form-label">Número Interior</label>
          <input type="text" class="form-control" name="numInterior" ngModel #numInterior="ngModel"
            [(ngModel)]="cotizadorServicio.noInt">
        </div>

        <div class="col-md-2">
          <label for="codigopostal" class="form-label">Código Postal<span class="text-danger"> *</span></label>
          <input type="text" class="form-control" maxlength="5" name="codigopostal"
            [(ngModel)]="cotizadorServicio.codigoPostal" [ngModel]="selectedCodigoPostal"
            (change)="onCodigoPostal($event.target.value)" ngModel #codigopostal="ngModel" pattern="[0-9]*">
        </div>


        <div class="col">
          <label for="colonia" class="form-label">Colonia<span class="text-danger"> *</span></label>
          <select class="form-control" name="colonia" ngModel #colonia="ngModel" [(ngModel)]="cotizadorServicio.idColonia"
            (change)="onColonia($event.target.value)">
            <option *ngFor="let colonia of colonias" [value]="colonia.idColonia">
              {{colonia.nombre}}
            </option>
          </select>
        </div>
      </div>

      <div class="row mt-4">
        <div class="col">
          <label for="ciudad" class="form-label">Ciudad<span class="text-danger"> *</span></label>
          <select class="form-control" name="ciudad" (change)="onCiudad($event.target.value)">
            <option *ngFor="let ciudad of ciudadesDir" [value]="ciudad.idCiudad">
              {{ciudad.nombre}}
            </option>
          </select>
        </div>

        <div class="col">
          <label for="estado" class="form-label">Estado<span class="text-danger"> *</span></label>
          <select class="form-control" name="estado" (change)="onEstado($event.target.value)">
            <option *ngFor="let estado of estadosDir" [value]="estado.idEstado">
              {{estado.nombre}}
            </option>
          </select>
        </div>

        <div class="col">
          <label for="pais" class="form-label">País<span class="text-danger"> *</span></label>
          <select class="form-control" name="pais">
            <option *ngFor="let pais of paises" [value]="pais.idPais">
              {{pais.nombre}}
            </option>
          </select>
        </div>

      </div>

      <div class="row mt-4 pb-4">
        <div class="col">
          <label for="referencia" class="form-label">Referencia</label>
          <textarea name="referencia" class="form-control" ngModel #referencia="ngModel"
            [(ngModel)]="cotizadorServicio.referenciaDireccion" rows="3"></textarea>
        </div>
      </div>

      <div class="row text-center pb-4">
        <div class="col">
          <button type="button" class="btn btn-primary"> Guardar </button>
        </div>
      </div>
</form>