mat-dialog-container {
    background: #f8f8f8 !important;
    color: black !important;
  }
  
  :root {
    --primary: #f8f8f8;
    --light: #142D3C;
    --grey: #efefef;
    --white: rgba(255, 255, 255, 0.78);
  }
  .bg-primary { background-color: var(--primary) !important;}
  
  table {
      width: 100%;
    }
    .mat-cell {
      color: black;
    }
    
    .mat-row:nth-child(even){
      background-color: #e4f0ec;
    }
    
    .mat-row:nth-child(odd){
      background-color:#ffffff;
    }
    
    .mat-cell, .mat-header-cell{
      text-align: center !important;
      justify-content:center !important;
    }

    .mat-column-idServicio {
      word-wrap: break-word !important;
      white-space: unset !important;
      flex: 0 0 5% !important;
      width: 5% !important;
      overflow-wrap: break-word;
      word-wrap: break-word;
    
      word-break: break-word;
    
      -ms-hyphens: auto;
      -moz-hyphens: auto;
      -webkit-hyphens: auto;
      hyphens: auto;
    }
    .mat-column-fechaCreacion {
      word-wrap: break-word !important;
      white-space: unset !important;
      flex: 0 0 10% !important;
      width: 10% !important;
      overflow-wrap: break-word;
      word-wrap: break-word;
    
      word-break: break-word;
    
      -ms-hyphens: auto;
      -moz-hyphens: auto;
      -webkit-hyphens: auto;
      hyphens: auto;
    }
    .mat-column-semanaAlta {
      word-wrap: break-word !important;
      white-space: unset !important;
      flex: 0 0 8.95% !important;
      width: 8.95% !important;
      overflow-wrap: break-word;
      word-wrap: break-word;
    
      word-break: break-word;
    
      -ms-hyphens: auto;
      -moz-hyphens: auto;
      -webkit-hyphens: auto;
      hyphens: auto;
    }
    .mat-column-nombre {
      word-wrap: break-word !important;
      white-space: unset !important;
      flex: 0 0 24% !important;
      width: 24% !important;
      overflow-wrap: break-word;
      word-wrap: break-word;
    
      word-break: break-word;
    
      -ms-hyphens: auto;
      -moz-hyphens: auto;
      -webkit-hyphens: auto;
      hyphens: auto;
    }
    .mat-column-responsable {
      word-wrap: break-word !important;
      white-space: unset !important;
      flex: 0 0 20% !important;
      width: 20% !important;
      overflow-wrap: break-word;
      word-wrap: break-word;
    
      word-break: break-word;
    
      -ms-hyphens: auto;
      -moz-hyphens: auto;
      -webkit-hyphens: auto;
      hyphens: auto;
    }
    .mat-column-estatus {
      word-wrap: break-word !important;
      white-space: unset !important;
      flex: 0 0 7.75% !important;
      width: 7.75% !important;
      overflow-wrap: break-word;
      word-wrap: break-word;
    
      word-break: break-word;
    
      -ms-hyphens: auto;
      -moz-hyphens: auto;
      -webkit-hyphens: auto;
      hyphens: auto;
    }
    .mat-column-estatusPago {
      word-wrap: break-word !important;
      white-space: unset !important;
      flex: 0 0 6.5% !important;
      width: 6.5% !important;
      overflow-wrap: break-word;
      word-wrap: break-word;
    
      word-break: break-word;
    
      -ms-hyphens: auto;
      -moz-hyphens: auto;
      -webkit-hyphens: auto;
      hyphens: auto;
    }
    .mat-column-cantidadPorPagar {
      word-wrap: break-word !important;
      white-space: unset !important;
      flex: 0 0 7.75% !important;
      width: 7.75% !important;
      overflow-wrap: break-word;
      word-wrap: break-word;
    
      word-break: break-word;
    
      -ms-hyphens: auto;
      -moz-hyphens: auto;
      -webkit-hyphens: auto;
      hyphens: auto;
    }
    .mat-column-acciones {
      word-wrap: break-word !important;
      white-space: unset !important;
      flex: 0 0 5% !important;
      width: 5% !important;
      overflow-wrap: break-word;
      word-wrap: break-word;
    
      word-break: break-word;
    
      -ms-hyphens: auto;
      -moz-hyphens: auto;
      -webkit-hyphens: auto;
      hyphens: auto;
    }
  