<form  #myForm="ngForm">
    <mat-tab-group style="background: #00D8D6; background: linear-gradient(to right, #00D8D6, #6EC1E4); " mat-align-tabs="center">
        <mat-tab label="General" > 
            <div class="container mt-5 bg-white rounded shadow">
              <h4 class="pt-4 pb-1">Información General</h4>
                    <div class="row">           
                        <div class="col">
                        <label for="nombre" class="form-label">Nombre(s)<span class="text-danger"> *</span></label>
                        <input type="text" class="form-control-file valGlobal" name="nombre" 
                        ngModel #nombre="ngModel" [(ngModel)]="colaborador.nombre">
                        <div class="invalid-feedback">
                            *Campo Requerido!
                        </div>
                        </div>
            
                        <div class="col">
                        <label for="paterno" class="form-label">Apellido Paterno<span class="text-danger"> *</span></label>
                        <input type="text" class="form-control-file valGlobal" name="apaterno"  ngModel #apaterno="ngModel"
                        [(ngModel)]="colaborador.a_paterno">
                        <div class="invalid-feedback">
                            *Campo Requerido!
                        </div>
                        </div>
            
                        <div class="col">
                        <label for="materno" class="form-label">Apellido Materno<span class="text-danger"> *</span></label>
                        <input type="text" class="form-control-file" name="amaterno"  ngModel #amaterno="ngModel"
                        [(ngModel)]="colaborador.a_materno">
                        <div class="invalid-feedback">
                            *Campo Requerido!
                        </div>
                        </div>
                    </div>
            
                    <div class="row mt-4">
                        <div class="col">
                        <label for="rfc" class="form-label">RFC<span class="text-danger"> *</span></label>
                        <input maxlength="13" size="13" type="text" class="form-control-file" name="rfc" placeholder="" value="" 
                        ngModel #rfc="ngModel" [(ngModel)]="colaborador.rfc">
                        <div class="invalid-feedback">
                            *Campo Requerido!
                        </div>
                        </div>
            
                        <div class="col">
                        <label for="nss" class="form-label">NSS</label>
                        <input maxlength="11" size="11" type="text" class="form-control-file" name="nss" ngModel #nss="ngModel"
                        [(ngModel)]="colaborador.nss">
                        </div>
            
                        <div class="col">
                        <label for="ine" class="form-label">Imagen INE<span class="text-danger"> *</span></label>
                        <input class="form-control-file" type="file" name="ine" accept=".png, .jpg, .jpeg" 
                         (change)="onIneFileSelected($event.target.files)" #ineUpload>
                        <div class="invalid-feedback">
                            *Imagen Requerida
                        </div>
                        </div>
            
                        <div class="col">
                        <label for="formFile" class="form-label">Foto Personal</label>
                        <input class="form-control-file" type="file" id="foto" >
                        </div>
                    </div>
            
                    <hr class="py-1" />
                    <h4 class="pb-1">Lugar y Fecha de Nacimiento</h4>
                    <div class="row mt-4">
                        
                        <div class="col">
                        <label for="nacimiento" class="form-label">Fecha de Nacimiento<span class="text-danger"> *</span></label>
                        <input type="date" class="form-control-file" name="fechanacimiento" value="yyyy-MM-dd" ngModel #fechanacimiento="ngModel">
                        <div class="invalid-feedback">
                            *Campo Requerido!
                        </div>
                        </div>
            
                        <div class="col">
                        <label for="ciudadNac" class="form-label">Ciudad<span class="text-danger"> *</span></label>
                        <input maxlength="11" size="11" type="text" class="form-control-file" name="ldnciudad" placeholder="" value="" ngModel #ldnciudad="ngModel">
                        <div class="invalid-feedback">
                            *Campo Requerido!
                        </div>
                        </div>
            
                        <div class="col">
                        <label for="estadoNac" class="form-label">Estado<span class="text-danger"> *</span></label>
                        <input maxlength="11" size="11" type="text" class="form-control-file" name="ldnestado" placeholder="" value="" ngModel #ldnestado="ngModel">
                        <div class="invalid-feedback">
                            *Campo Requerido!
                        </div>
                        </div>
            
                        <div class="col">
                        <label for="paisNac" class="form-label">Pais<span class="text-danger"> *</span></label>
                        <input maxlength="11" size="11" type="text" class="form-control-file" name="ldnpais" placeholder="" value="">
                        <div class="invalid-feedback">
                            *Campo Requerido!
                        </div>
                        </div>
                    </div>    
            </div>
        </mat-tab>
        <mat-tab label="Dirección"> 
            <div class="container mt-5 bg-white rounded shadow">
              <h4 class="pt-4 pb-1">Dirección</h4>
                <div class="row">
                    <div class="col">
                      <label for="calle" class="form-label">Calle<span class="text-danger"> *</span></label>
                      <input type="text" class="form-control-file" name="calle1" placeholder="" value="">
                      <div class="invalid-feedback">
                        *Campo Requerido!
                      </div>
                    </div>
          
                    <div class="col">
                      <label for="calle2" class="form-label">Calle 2</label>
                      <input type="text" class="form-control-file" name="calle2" placeholder="" value="">
                    </div>
                  </div>
          
                  <div class="row mt-4">
                    <div class="col-md-2">
                      <label for="numExterior" class="form-label">Número Exterior<span class="text-danger"> *</span></label>
                      <input type="text" class="form-control-file" name="noext" placeholder="" value="">
                      <div class="invalid-feedback">
                        *Campo Requerido!
                      </div>
                    </div>
          
                    <div class="col-md-2">
                      <label for="numInterior" class="form-label">Número Interior</label>
                      <input type="text" class="form-control-file" name="noint" placeholder="" value="">
                    </div>
          
                    <div class="col">
                      <label for="colonia" class="form-label">Colonia<span class="text-danger"> *</span></label>
                      <input type="text" class="form-control-file" name="colonia" placeholder="" value="">
                      <div class="invalid-feedback">
                        *Campo Requerido!
                      </div>
                    </div>
                  </div>
          
                  <div class="row mt-4">
                    <div class="col">
                      <label for="ciudad" class="form-label">Ciudad<span class="text-danger"> *</span></label>
                      <input type="text" class="form-control-file" name="ciudad" placeholder="" value="">
                      <div class="invalid-feedback">
                        *Campo Requerido!
                      </div>
                    </div>
          
                    <div class="col">
                      <label for="estado" class="form-label">Estado<span class="text-danger"> *</span></label>
                      <input type="text" class="form-control-file" name="estado" placeholder="" value="">
                      <div class="invalid-feedback">
                        *Campo Requerido!
                      </div>
                    </div>
          
                    <div class="col">
                      <label for="pais" class="form-label">País<span class="text-danger"> *</span></label>
                      <input type="text" class="form-control-file" name="pais" placeholder="" value="">
                      <div class="invalid-feedback">
                        *Campo Requerido!
                      </div>
                    </div>
          
                    <div class="col-md-2">
                      <label for="cp" class="form-label">Código Postal<span class="text-danger"> *</span></label>
                      <input type="text" class="form-control-file" name="codigopostal" placeholder="" value="">
                      <div class="invalid-feedback">
                        *Campo Requerido!
                      </div>
                    </div>
                  </div>
          
                  <div class="row mt-4">
                    <div class="col">
                      <label for="referencia" class="form-label">Referencia</label>
                      <textarea name="referencia" class="form-control-file" rows="3"></textarea>
                    </div>
          
                    <div class="col">
                      <label for="formFile" class="form-label">Comprobante de Domicilio</label>
                      <input class="form-control-file" type="file" name="comprobante">
                    </div>
                  </div>
            </div>
        </mat-tab>
        <mat-tab label="Información Personal"> 
            <div class="container mt-5 bg-white rounded shadow">
              <h4 class="pt-4 pb-1">Información Personal</h4>
                <div class="row">
                    <div class="col-md-4">
                      <label class="pb-2">Genero<span class="text-danger"> *</span></label>
                      <br>
                      <div class="form-check form-check-inline">
                        <input class="form-check-input" type="radio" name="inlineRadioOptions" name="sexo" value="Masculino">
                        <label class="form-check-label" for="inlineRadio1">Masculino</label>
                      </div>
                      <div class="form-check form-check-inline">
                        <input class="form-check-input" type="radio" name="inlineRadioOptions" name="sexo" value="Femenino">
                        <label class="form-check-label" for="inlineRadio2">Femenino</label>
                      </div>
                      <div class="form-check form-check-inline">
                        <input class="form-check-input" type="radio" name="inlineRadioOptions" name="sexo" value="Otro">
                        <label class="form-check-label" for="inlineRadio3">Otro</label>
                      </div>
                    </div>
          
                    <div class="col-md-1">
                      <label for="peso" class="form-label">Peso (Kg)</label>
                      <input maxlength="3" size="2" type="text" class="form-control-file" name="peso" placeholder="" value="">
                    </div>
          
                    <div class="col-md-1">
                      <label for="estatura" class="form-label">Estatura(mts)</label>
                      <input maxlength="4" size="4" type="text" class="form-control-file" name="estatura" placeholder="" value="">
                    </div>
          
                    <div class="col-md-2">
                      <label for="tez" class="form-label">Tez</label>
                      <select class="form-control-file" name="tez">
                        <option selected>Selecionar</option>
                        <option value="Negra">Negra</option>
                        <option value="Morena">Morena</option>
                        <option value="Aperlada">Aperlada</option>
                        <option value="Clara">Clara</option>
                        <option value="Blanca">Blanca</option>
                      </select>
                    </div>
          
                    <div class="col-md-2">
                      <label for="estadocivil" class="form-label">Estado Civil<span class="text-danger"> *</span></label>
                      <select class="form-control-file" name="estadocivil">
                        <option selected>Selecionar</option>
                        <option value="Soltero(a)">Soltero(a)</option>
                        <option value="Casado(a)">Casado(a)</option>
                        <option value="Divorciado(a)">Divorciado(a)</option>
                        <option value="Unión Libre">Unión Libre</option>
                      </select>
                    </div>
                  </div>
          
                  <div class="row mt-4">
                    <div class="col-md-2">
                      <label for="telefono" class="form-label">Teléfono 1<span class="text-danger"> *</span></label>
                      <input maxlength="10" size="10" type="tel" class="form-control-file" name="telefono1" placeholder="10 Dígitos"
                        value="">
                      <div class="invalid-feedback">
                        *Campo Requerido!
                      </div>
                    </div>
          
                    <div class="col-md-2">
                      <label for="tipoTel" class="form-label">Tipo de Teléfono 1</label>
                      <select class="form-control-file" name="telefonotipo1">
                        <option selected>Selecionar</option>
                        <option value="Casa">Casa</option>
                        <option value="Oficina">Oficina</option>
                        <option value="Celular">Celular</option>
                        <option value="Familiar">Familiar</option>
                        <option value="Amigo">Amigo</option>
                        <option value="Vecino">Vecino</option>
                      </select>
                    </div>
          
                    <div class="col-md-2">
                      <label for="telefono1" class="form-label">Teléfono 2</label>
                      <input maxlength="10" size="10" type="tel" class="form-control-file" name="telefono2" placeholder="10 Dígitos"
                        value="">
                      <div class="invalid-feedback">
                        *Campo Requerido!
                      </div>
                    </div>
          
                    <div class="col-md-2">
                      <label for="tipoTel1" class="form-label">Tipo de Teléfono 2</label>
                      <select class="form-control-file" name="telefonotipo2">
                        <option selected>Selecionar</option>
                        <option value="Casa">Casa</option>
                        <option value="Oficina">Oficina</option>
                        <option value="Celular">Celular</option>
                        <option value="Familiar">Familiar</option>
                        <option value="Amigo">Amigo</option>
                        <option value="Vecino">Vecino</option>
                      </select>
                    </div>
          
                    <div class="col-md-4">
                      <label for="correo" class="form-label">Correo Electrónico<span class="text-danger"> *</span></label>
                      <input type="email" class="form-control-file" name="correoelectronico" placeholder="" value="">
                      <div class="invalid-feedback">
                        *Campo Requerido!
                      </div>
                    </div>
                  </div>
          
                  <div class="row mt-4">
                    <div class="col-md-4">
                      <label class="pb-2">Seguro de Gastos Medicos Mayores<span class="text-danger"> *</span></label>
                      <br>
                      <div class="form-check form-check-inline">
                        <input class="form-check-input" type="radio" name="inlineRadioOptions" id="sgmm" value="option1"
                          onclick="EnableTextBox(this)">
                        <label class="form-check-label" for="inlineRadio1">Sí</label>
                      </div>
                      <div class="form-check form-check-inline">
                        <input class="form-check-input" type="radio" name="inlineRadioOptions" id="inlineRadio2" value="option2"
                          onclick="DisableTextBox(this)">
                        <label class="form-check-label" for="inlineRadio2">No</label>
                      </div>
                    </div>
          
                    <div class="col">
                      <label for="sgmm" class="form-label">Aseguradora</label>
                      <input type="text" class="form-control-file" name="aseguradora" placeholder="Nombre" value=""
                        disabled="disabled">
                    </div>
                  </div>
            </div>    
        </mat-tab>
        <mat-tab label="Estudios"> 
            <div class="container mt-5 bg-white rounded shadow">
                <h4 class="pt-4 pb-1">Estudios</h4>
                <div class="form-group dynamic-element">
                <div class="row">
                    <div class="col-md-6">
                    <div class="row">
                        <div class="col-md-12">
                        <label for="institucion" class="form-label">Institución</label>
                        <input type="text" class="form-control-file" id="institucion" name="institucion" 
                        #institucion="ngModel" [(ngModel)]="estudio.institucion">
                        </div>
                    </div>

                    <div class="row mt-3">
                        <div class="col-md-2">
                        <label for="inicioEst" class="form-label">Inicio</label>
                        <input type="text" class="form-control-file datepicker" name="inicioEst" 
                        #inicioEst="ngModel" [(ngModel)]="estudio.inicio"/>
                        </div>

                        <div class="col-md-2">
                        <label for="terminacionEst" class="form-label">Terminación</label>
                        <input type="text" class="form-control-file datepicker" name="terminacionEst" 
                        #terminacionEst="ngModel" 
                        [(ngModel)]="estudio.fin"/>
                        </div>

                        <div class="col-md-8">
                        <label class="pb-2">¿Se terminaron los estudios?</label>
                        <br>
                        <mat-radio-group aria-label="Select an option" >
                            <mat-radio-button class="example-radio-button" *ngFor="let estatusEstudio of estatusEstudios" [value]="estatusEstudio"
                            (change)="onEstudioChange(estatusEstudio)">
                                {{estatusEstudio}}
                              </mat-radio-button>
                          </mat-radio-group>
                        
                        </div>
                    </div>
                    <div class="row mt-3">
                        <div class="col-md-12">
                        <label for="formFile" class="form-label">Imagen de la Cédula</label>
                        <input class="form-control-file" type="file" id="formFile" accept=".png, .jpg, .jpeg" 
                        (change)="onCedulaFileSelected($event.target.files)">
                        </div>
                    </div>
                    </div>

                    <div class="col-md-6">
                    <label for="comentarioEstudio" class="form-label">Estudio / Carrera / Curso</label>
                    <textarea name="comentarioEstudio" class="form-control-file" rows="5" #comentarioEstudio="ngModel" [(ngModel)]="estudio.comentarios"></textarea>
                    </div>
                </div>
                <hr class="mt-3 mb-3" />
                </div>
                <div class="form-container">
                <div class="dynamic-stuff">
                    <!-- Dynamic element will be cloned here -->
                </div>
                </div>

                <div class="row mt-5">
                    <div class="col-md-12 text-center">
                        <button class="btn btn-primary add-one" (click) = "agregarEstudio()">Agregar</button>
                        <button class="btn btn-warning delete ml-3">Cancelar</button>
                    </div>
                </div>
                <div class="row mt-5">
                    <div class="col-md-12 text-center">
                        <table datatable [dtOptions]="dtOptionsEstudio" 
                        [dtTrigger]="dtTriggerEstudio" class="row-border hover">
                            <thead>
                                <tr>
                                    <td>ID</td>
                                    <td>Institución</td>
                                    <td>Estatus</td>
                                    <td>Acción</td>
                                    <td>Acción</td>
                                </tr>
                            </thead>
                            <tbody *ngIf="estudios?.length != 0">
                                <tr *ngFor="let estudioTmp of estudios">
                                    <td>
                                            {{estudioTmp.idEstudio}}
                                    </td>
                                    <td>
                                        {{estudioTmp.institucion}}
                                    </td>
                                    <td>
                                        {{estudioTmp.estatus}}
                                    </td>
                                    <td><button class="getDetails" (click)="editaEstudio(estudioTmp)">Editar</button></td>
                                    <td><button class="getDetails" (click)="borraEstudio(estudioTmp)">Borrar</button></td>
                                </tr>

                            </tbody>
                        </table>
                    </div>
                </div>
            </div>    
        </mat-tab>
        <mat-tab label="Experiencia"> 
            <div class="container mt-5 bg-white rounded shadow">
                <h4 class="pt-4 pb-1">Experiencia</h4>
                <div class="form-group dynamic-element1">
                  <div class="row">
                    <div class="col-md-6">
                      <div class="row">
                        <div class="col-md-12">
                          <label for="institucion" class="form-label">Empresa/Institución</label>
                          <input type="text" class="form-control-file" id="institucion" placeholder="" value="">
                        </div>
                      </div>
        
                      <div class="row mt-3">
                        <div class="col-md-2">
                          <label for="inicioEst" class="form-label">Inicio</label>
                          <input type="text" class="form-control-file datepicker" name="inicioEst" />
                        </div>
        
                        <div class="col-md-2">
                          <label for="terminacionEst" class="form-label">Terminación</label>
                          <input type="text" class="form-control-file datepicker" name="terminacionEst" />
                        </div>
        
                        <div class="col-md-8">
                          <label for="institucion" class="form-label">Nombre de Referencia</label>
                          <input type="text" class="form-control-file" id="institucion" placeholder="" value="">
                        </div>
                      </div>
                      <div class="row mt-3">
                        <div class="col-md-4">
                          <label for="telefono" class="form-label">Teléfono de Referencia</label>
                          <input maxlength="10" size="10" type="tel" class="form-control-file" id="telefono" placeholder="10 Dígitos"
                            value="">
                        </div>
                      </div>
                    </div>
        
                    <div class="col-md-6">
                      <label for="estudio" class="form-label">Actividades Realizadas</label>
                      <textarea name="estudio" class="form-control-file" rows="5"></textarea>
                    </div>
                  </div>
                  <hr class="mt-3 mb-3" />
                </div>
                <div class="form-container">
                  <div class="dynamic-stuff1">
                    <!-- Dynamic element will be cloned here -->
                  </div>
                </div>
        
                <div class="row mt-5">
                  <div class="col-md-12 text-center">
                    <button class="btn btn-primary add-one1">Agregar Otra Experiencia</button>
                    <button class="btn btn-primary delete1 ml-3">Eliminar Experiencia</button>
                  </div>
                </div>
            </div>    
        </mat-tab>
        <mat-tab label="Adicional"> 
            <div class="container mt-5 bg-white rounded shadow">
              <h4 class="pt-4 pb-1">Información Adicional</h4>
                <div class="row">
                    <hr class="mt-2 mb-3" />
                    <div class="col-md-6">
                      <h5 class="pb-1">Días y Horarios de Disponibilidad<span class="text-danger"> *</span></h5>
                      <div class="form-check form-check-inline">
                        <input class="form-check-input" type="checkbox" value="" id="lunes" onclick="EnableTextBoxDays(this)">
                        <label class="form-check-label" for="lunes">
                          <p class="font-weight-bold">Lunes
                          </p>
                        </label>
                        <div class="row">
                          <div class="col-md-7">
                            <label for="desdeL" class="form-label">Desde</label>
                            <input type="time" class="form-control-file input-sm" id="desdeL" placeholder="" value=""
                              disabled="disabled">
                          </div>
                          <div class="col-md-7">
                            <label for="hastaL" class="form-label">Hasta</label>
                            <input type="time" class="form-control-file input-sm" id="hastaL" placeholder="" value=""
                              disabled="disabled">
                          </div>
                        </div>
                      </div>
          
                      <div class="form-check form-check-inline">
                        <input class="form-check-input" type="checkbox" value="" id="martes" onclick="EnableTextBoxDays(this)">
                        <label class="form-check-label" for="martes">
                          <p class="font-weight-bold">Martes
                          </p>
                        </label>
                        <div class="row">
                          <div class="col-md-7">
                            <label for="desdeM" class="form-label">Desde</label>
                            <input type="time" class="form-control-file input-sm" id="desdeM" placeholder="" value=""
                              disabled="disabled">
                          </div>
                          <div class="col-md-7">
                            <label for="hastaM" class="form-label">Hasta</label>
                            <input type="time" class="form-control-file input-sm" id="hastaM" placeholder="" value=""
                              disabled="disabled">
                          </div>
                        </div>
                      </div>
                      <div class="form-check form-check-inline">
                        <input class="form-check-input" type="checkbox" value="" id="miercoles" onclick="EnableTextBoxDays(this)">
                        <label class="form-check-label" for="miercoles">
                          <p class="font-weight-bold">Miércoles</p>
                        </label>
                        <div class="row">
                          <div class="col-md-7">
                            <label for="desdeMi" class="form-label">Desde</label>
                            <input type="time" class="form-control-file input-sm" id="desdeMi" placeholder="" value=""
                              disabled="disabled">
                          </div>
                          <div class="col-md-7">
                            <label for="hastaMi" class="form-label">Hasta</label>
                            <input type="time" class="form-control-file input-sm" id="hastaMi" placeholder="" value=""
                              disabled="disabled">
                          </div>
                        </div>
                      </div>
                      <div class="form-check form-check-inline">
                        <input class="form-check-input" type="checkbox" value="" id="jueves" onclick="EnableTextBoxDays(this)">
                        <label class="form-check-label" for="jueves">
                          <p class="font-weight-bold">Jueves
                          </p>
                        </label>
                        <div class="row">
                          <div class="col-md-7">
                            <label for="desdeJ" class="form-label">Desde</label>
                            <input type="time" class="form-control-file input-sm" id="desdeJ" placeholder="" value=""
                              disabled="disabled">
                          </div>
                          <div class="col-md-7">
                            <label for="hastaJ" class="form-label">Hasta</label>
                            <input type="time" class="form-control-file input-sm" id="hastaJ" placeholder="" value=""
                              disabled="disabled">
                          </div>
                        </div>
                      </div>
                      <div class="form-check form-check-inline">
                        <input class="form-check-input" type="checkbox" value="" id="viernes" onclick="EnableTextBoxDays(this)">
                        <label class="form-check-label" for="viernes">
                          <p class="font-weight-bold">Viernes
                          </p>
                        </label>
                        <div class="row">
                          <div class="col-md-7">
                            <label for="desdeV" class="form-label">Desde</label>
                            <input type="time" class="form-control-file input-sm" id="desdeV" placeholder="" value=""
                              disabled="disabled">
                          </div>
                          <div class="col-md-7">
                            <label for="hastaV" class="form-label">Hasta</label>
                            <input type="time" class="form-control-file input-sm" id="hastaV" placeholder="" value=""
                              disabled="disabled">
                          </div>
                        </div>
                      </div>
                      <div class="form-check form-check-inline">
                        <input class="form-check-input" type="checkbox" value="" id="sabado" onclick="EnableTextBoxDays(this)">
                        <label class="form-check-label" for="sabado">
                          <p class="font-weight-bold">Sábado
                          </p>
                        </label>
                        <div class="row">
                          <div class="col-md-7">
                            <label for="desdeS" class="form-label">Desde</label>
                            <input type="time" class="form-control-file input-sm" id="desdeS" placeholder="" value=""
                              disabled="disabled">
                          </div>
                          <div class="col-md-7">
                            <label for="hastaS" class="form-label">Hasta</label>
                            <input type="time" class="form-control-file input-sm" id="hastaS" placeholder="" value=""
                              disabled="disabled">
                          </div>
                        </div>
                      </div>
                      <div class="form-check form-check-inline">
                        <input class="form-check-input" type="checkbox" value="" id="domingo" onclick="EnableTextBoxDays(this)">
                        <label class="form-check-label" for="domingo">
                          <p class="font-weight-bold">Domingo
                          </p>
                        </label>
                        <div class="row">
                          <div class="col-md-7">
                            <label for="desdeD" class="form-label">Desde</label>
                            <input type="time" class="form-control-file input-sm" id="desdeD" placeholder="" value=""
                              disabled="disabled">
                          </div>
                          <div class="col-md-7">
                            <label for="hastaD" class="form-label">Hasta</label>
                            <input type="time" class="form-control-file input-sm" id="hastaD" placeholder="" value=""
                              disabled="disabled">
                          </div>
                        </div>
                      </div>
                    </div>
          
                    <div class="col-md-6">
                      <h5 class="pb-1">Otros</h5>
                      <div class="row">
                        <div class="col-md-4">
                          <label for="permanencia" class="form-label">Permanencia<span class="text-danger"> *</span></label>
                          <select class="form-control-file" id="permanencia">
                            <option selected>Selecionar</option>
                            <option value="1">Quedada</option>
                            <option value="2">Entrada</option>
                            <option value="3">Salida</option>
                            <option value="4">Ambas</option>
                          </select>
                        </div>
                        <div class="col-md-4">
                          <label for="zona" class="form-label">Zona Laboral</label>
                          <select class="form-control-file" id="zona_laboral">
                            <option selected>Selecionar</option>
                            <option value="1">Centro</option>
                            <option value="2">Cumbres</option>
                            <option value="3">Zona Sur</option>
                            <option value="4">Carretera Nacional</option>
                            <option value="5">Zona Valle</option>
                            <option value="6">Santa Catarina</option>
                            <option value="7">Guadalupe</option>
                            <option value="8">San Nicolás</option>
                            <option value="9">Escobedo</option>
                            <option value="10">Cadereyta</option>
                            <option value="11">Apodaca</option>
                          </select>
                        </div>
                      </div>
          
                      <div class="row">
                        <div class="col-md-4">
                          <label class="pb-2">¿Atiende COVID?<span class="text-danger"> *</span></label>
                          <br>
                          <div class="form-check form-check-inline">
                            <input class="form-check-input" type="radio" name="inlineRadioOptions" id="atiendecovid"
                              value="option1">
                            <label class="form-check-label" for="covids">Sí</label>
                          </div>
                          <div class="form-check form-check-inline">
                            <input class="form-check-input" type="radio" name="inlineRadioOptions" id="covidn" value="option2">
                            <label class="form-check-label" for="covidn">No</label>
                          </div>
                        </div>
                      </div>
          
                      <div class="row">
                        <div class="col-md-4">
                          <label class="pb-2">Antecedentes Penales</label>
                          <br>
                          <div class="form-check form-check-inline">
                            <input class="form-check-input" type="radio" name="inlineRadioOptions" id="apenales" value="option1">
                            <label class="form-check-label" for="antecedentesS">Sí</label>
                          </div>
                          <div class="form-check form-check-inline">
                            <input class="form-check-input" type="radio" name="inlineRadioOptions" id="antecedentesN"
                              value="option2">
                            <label class="form-check-label" for="antecedentesN">No</label>
                          </div>
                        </div>
                      </div>
          
                      <div class="row">
                        <div class="col-md-4">
                          <label class="pb-2">Auto Propio</label>
                          <br>
                          <div class="form-check form-check-inline">
                            <input class="form-check-input" type="radio" name="inlineRadioOptions" id="autopropio"
                              value="option1">
                            <label class="form-check-label" for="antecedentesS">Sí</label>
                          </div>
                          <div class="form-check form-check-inline">
                            <input class="form-check-input" type="radio" name="inlineRadioOptions" id="antecedentesN"
                              value="option2">
                            <label class="form-check-label" for="antecedentesN">No</label>
                          </div>
                        </div>
                      </div>
          
                      <div class="row">
                        <div class="col-md-4">
                          <label class="pb-2">Disponibilidad para viajar</label>
                          <br>
                          <div class="form-check form-check-inline">
                            <input class="form-check-input" type="radio" name="inlineRadioOptions" id="disponibilidadS"
                              value="option1">
                            <label class="form-check-label" for="disponibilidadS">Sí</label>
                          </div>
                          <div class="form-check form-check-inline">
                            <input class="form-check-input" type="radio" name="inlineRadioOptions" id="disponibilidadN"
                              value="option2">
                            <label class="form-check-label" for="disponibilidadN">No</label>
                          </div>
                        </div>
                      </div>
          
                      <div class="row">
                        <div class="col-md-4">
                          <label class="pb-2">Visa</label>
                          <br>
                          <div class="form-check form-check-inline">
                            <input class="form-check-input" type="radio" name="inlineRadioOptions" id="visa" value="option1"
                              onclick="EnableTextBoxVis(this)">
                            <label class="form-check-label" for="visaS">Sí</label>
                          </div>
                          <div class="form-check form-check-inline">
                            <input class="form-check-input" type="radio" name="inlineRadioOptions" id="visaN" value="option2"
                              onclick="DisableTextBoxVis(this)">
                            <label class="form-check-label" for="visaN">No</label>
                          </div>
                        </div>
                      </div>
                      <div class="row">
                        <div class="col-md-4">
                          <label for="visaNum" class="form-label">Número de Visa</label>
                          <input type="text" class="form-control-file" id="numvisa" placeholder="" value="" disabled="disabled">
                        </div>
                        <div class="col-md-4">
                          <label for="tipNum" class="form-label">Tipo de Visa</label>
                          <input type="text" class="form-control-file" id="tipovisa" placeholder="" value="" disabled="disabled">
                        </div>
                        <div class="col-md-4">
                          <label for="visaExp" class="form-label">Expiración</label>
                          <input type="date" class="form-control-file" id="fechaexpvisa" name="visaExp" value="dd-MM-yyyy"
                            disabled="disabled">
                          <div class="invalid-feedback">
                            *Campo Requerido!
                          </div>
                        </div>
                      </div>
          
                      <div class="row">
                        <div class="col-md-4">
                          <label class="pb-2">Pasaporte</label>
                          <br>
                          <div class="form-check form-check-inline">
                            <input class="form-check-input" type="radio" name="inlineRadioOptions1" id="pasaporte" value="option1"
                              onclick="EnableTextBoxPas(this)">
                            <label class="form-check-label" for="pasaporteS">Sí</label>
                          </div>
                          <div class="form-check form-check-inline">
                            <input class="form-check-input" type="radio" name="inlineRadioOptions1" id="pasaporteN"
                              value="option2" onclick="DisableTextBoxPas(this)">
                            <label class="form-check-label" for="pasaporteN">No</label>
                          </div>
                        </div>
                      </div>
                      <div class="row">
                        <div class="col-md-4">
                          <label for="pasaporteNum" class="form-label">Número de Pasaporte</label>
                          <input type="text" class="form-control-file" id="numpasaporte" placeholder="" value="" disabled="disabled">
                        </div>
                        <div class="col-md-4">
                          <label for="pasaporteExp" class="form-label">Expiración</label>
                          <input type="date" class="form-control-file" id="fechaexppasaporte" name="pasaporteExp" value="dd-MM-yyyy"
                            disabled="disabled">
                          <div class="invalid-feedback">
                            *Campo Requerido!
                          </div>
                        </div>
                      </div>
                    </div>
                    <div class="col-12 pt-2 pb-1 text-center">
          
                    </div>
                
                  </div>
            </div>    
        </mat-tab>
    </mat-tab-group>
    <button type="button" (click)="guardarColaborador(myForm)"> Send </button>
</form>
