<form style="background: #00D8D6; background: linear-gradient(to right, #00D8D6, #6EC1E4);" #myForm="ngForm">
    <ngb-toast-container></ngb-toast-container>
    <mat-tab-group mat-align-tabs="center" [selectedIndex]="selected.value" (selectedIndexChange)="selected.setValue($event)">
        <mat-tab label="Cotizador">
            <div class="container mt-5 pt-4 pb-4 bg-white rounded-top shadow">
                <h3 class="text-center">Cotizador de Servicios</h3>
                <hr class="py-1" />
                <div class="form-group row mt-4 mb-4">
                    <label for="horas" class="col-md-3 col-form-label">No. DE HORAS REQUERIDAS</label>
                    <div class="col-md-2">
                        <input type="number" class="form-control valGlobal" id="horas" name="horas" ngModel #horas="ngModel" [(ngModel)]="cotizadorInternoServicio.horas">                    
                    </div>
                    <label class="col-md-3 col-form-label" style="color: red; font-weight: bold;">OPCIONES:&emsp;4&emsp;8&emsp;10&emsp;12&emsp;24</label>      
                </div>
                <div class="form-group row mb-4">
                    <label for="dias" class="col-md-3 col-form-label">No. DE DIAS CONTRATADO</label>
                    <div class="col-md-2">
                        <input type="number" class="form-control valGlobal" id="dias" name="dias" ngModel #dias="ngModel" [(ngModel)]="cotizadorInternoServicio.dias">                    
                    </div>
                    <label class="col-md-3 col-form-label" style="color: red; font-weight: bold;">OPCIONES:&emsp;1&emsp;AL&emsp;7</label>
                </div>
                <div class="form-group row mb-4">
                    <label for="hombre" class="col-md-3 col-form-label">SE REQUIERE ENFERMERO HOMBRE</label>
                    <div class="col-md-2">
                        <input type="number" class="form-control valGlobal" id="hombre" name="hombre" ngModel #hombre="ngModel" [(ngModel)]="cotizadorInternoServicio.hombre">                    
                    </div>
                    <div class="col-md-1">
                        0 = NO
                        <br>
                        1 = SI
                    </div>
                </div>
                <div class="form-group row mb-4">
                    <label for="domingo" class="col-md-3 col-form-label">¿TRABAJA EN DOMINGO?</label>
                    <div class="col-md-2">
                        <input type="number" class="form-control valGlobal" id="domingo" name="domingo" ngModel #domingo="ngModel" [(ngModel)]="cotizadorInternoServicio.domingo">                    
                    </div>
                    <div class="col-md-1">
                        0 = NO
                        <br>
                        1 = SI
                    </div>
                </div>
                <div class="form-group row mb-4">
                    <label for="asueto" class="col-md-3 col-form-label">¿TRABAJA EN ASUETO?</label>
                    <div class="col-md-2">
                        <input type="number" class="form-control valGlobal" id="asueto" name="asueto" ngModel #asueto="ngModel" [(ngModel)]="cotizadorInternoServicio.asueto">                    
                    </div>
                    <div class="col-md-1">
                        0 = NO
                        <br>
                        1 = SI
                    </div>
                </div>
                <div class="form-group row mb-4">
                    <label for="hospital" class="col-md-3 col-form-label">¿SERVICIO EN HOSPITAL?</label>
                    <div class="col-md-2">
                        <input type="number" class="form-control valGlobal" id="hospital" name="hospital" ngModel #hospital="ngModel" [(ngModel)]="cotizadorInternoServicio.hospital">                    
                    </div>
                    <div class="col-md-1">
                        0 = NO
                        <br>
                        1 = SI
                    </div>
                </div>
                <div class="form-group row mb-4">
                    <label for="servicioFuera" class="col-md-3 col-form-label">¿SERVICIO EN SAN PEDRO / CARR. NACIONAL?</label>
                    <div class="col-md-2">
                        <input type="number" class="form-control valGlobal" id="servicioFuera" name="servicioFuera" ngModel #servicioFuera="ngModel" [(ngModel)]="cotizadorInternoServicio.servicioFuera">                    
                    </div>
                    <div class="col-md-1">
                        0 = NO
                        <br>
                        1 = SI
                    </div>
                    <div class="col-md-1">
                        <fa-icon [icon]="faArrowRight"></fa-icon>
                    </div>
                    <label for="noTaxis" class="col-md-3 col-form-label">No. DE TAXIS</label>
                    <div class="col-md-2">
                        <input type="number" class="form-control valGlobal" id="noTaxis" name="noTaxis" ngModel #noTaxis="ngModel" [(ngModel)]="cotizadorInternoServicio.noTaxis">                    
                    </div>
                </div>
                <hr class="py-1" />
                <mat-accordion *ngIf="cotizarClick">
                    <!-- #enddocregion basic-panel -->
                      <mat-expansion-panel (opened)="panelOpenState = true"
                                           (closed)="panelOpenState = false">
                        <mat-expansion-panel-header>
                          <mat-panel-title style="font-size: 111%;">
                            PRECIOS DE LISTA
                          </mat-panel-title>
                          <mat-panel-description style="font-size: 111%;">
                            {{cotizadorInternoServicio.dias}} Dias
                          </mat-panel-description>
                        </mat-expansion-panel-header>
                        <table class="table table-bordered">
                            <tbody>
                                <tr>
                                    <th></th>
                                    <th style="font-size: 111%;">PRECIO TOTAL</th>
                                    <th style="font-size: 111%;">PRECIO POR DIA</th>
                                </tr>
                                <tr>
                                    <th scope="row" style="font-size: 111%;">CUIDADOR</th>
                                    <td style="font-size: 111%;">{{cotizadorInternoServicio.precioListaCuidador | currency}}</td>
                                    <td style="font-size: 111%;">{{cotizadorInternoServicio.precioListaCuidadorPorDia | currency}}</td>
                                </tr>
                                <tr>
                                    <th scope="row" style="font-size: 111%;">ENFERMERA</th>
                                    <td style="font-size: 111%;">{{cotizadorInternoServicio.precioListaEnfermera | currency}}</td>
                                    <td style="font-size: 111%;">{{cotizadorInternoServicio.precioListaEnfermeraPorDia | currency}}</td>
                                </tr>
                                <tr>
                                    <th scope="row" style="font-size: 111%;">ENFERMERA COVID</th>
                                    <td style="font-size: 111%;">{{cotizadorInternoServicio.precioListaEnfermeraCovid | currency}}</td>
                                    <td style="font-size: 111%;">{{cotizadorInternoServicio.precioListaEnfermeraCovidPorDia | currency}}</td>
                                </tr>  
                            </tbody>
                          </table>
                      </mat-expansion-panel>
    
                      <mat-expansion-panel (opened)="panelOpenState = true"
                                           (closed)="panelOpenState = false">
                        <mat-expansion-panel-header>
                          <mat-panel-title style="font-size: 111%;">
                            PRECIOS EN PAQUETE
                          </mat-panel-title>
                          <mat-panel-description style="font-size: 111%;">
                            {{cotizadorInternoServicio.dias}} Dias
                          </mat-panel-description>
                        </mat-expansion-panel-header>
                        <table class="table table-bordered">
                            <tbody>
                                <tr>
                                    <th></th>
                                    <th style="font-size: 111%;">PRECIO TOTAL</th>
                                    <th style="font-size: 111%;">PRECIO POR DIA</th>
                                </tr>
                                <tr>
                                    <th scope="row" style="font-size: 111%;">CUIDADOR</th>
                                    <td style="font-size: 111%;">{{cotizadorInternoServicio.precioPaqueteCuidador | currency}}</td>
                                    <td style="font-size: 111%;">{{cotizadorInternoServicio.precioPaqueteCuidadorPorDia | currency}}</td>
                                </tr>
                                <tr>
                                    <th scope="row" style="font-size: 111%;">ENFERMERA</th>
                                    <td style="font-size: 111%;">{{cotizadorInternoServicio.precioPaqueteEnfermera | currency}}</td>
                                    <td style="font-size: 111%;">{{cotizadorInternoServicio.precioPaqueteEnfermeraPorDia | currency}}</td>
                                </tr>
                                <tr>
                                    <th scope="row" style="font-size: 111%;">ENFERMERA COVID</th>
                                    <td style="font-size: 111%;">{{cotizadorInternoServicio.precioPaqueteEnfermeraCovid | currency}}</td>
                                    <td style="font-size: 111%;">{{cotizadorInternoServicio.precioPaqueteEnfermeraCovidPorDia | currency}}</td>
                                </tr>  
                            </tbody>
                          </table>
                      </mat-expansion-panel>
    
                      <mat-expansion-panel (opened)="panelOpenState = true"
                                           (closed)="panelOpenState = false">
                        <mat-expansion-panel-header>
                          <mat-panel-title style="font-size: 111%;">
                            PRECIOS DE POLIZAS
                          </mat-panel-title>
                        </mat-expansion-panel-header>
                        <table class="table table-bordered">
                            <tbody>
                                <tr>
                                    <th></th>
                                    <th style="font-size: 111%;">1 MES</th>
                                    <th style="font-size: 111%;">2 MESES</th>
                                    <th style="font-size: 111%;">3 MESES</th>
                                    <th style="font-size: 111%;">4 MESES</th>
                                </tr>
                                <tr>
                                    <th scope="row" style="font-size: 111%;">CUIDADORA</th>
                                    <td style="font-size: 111%;">{{cotizadorInternoServicio.polizaCuidadora1 | currency}}</td>
                                    <td style="font-size: 111%;">{{cotizadorInternoServicio.polizaCuidadora2 | currency}}</td>
                                    <td style="font-size: 111%;">{{cotizadorInternoServicio.polizaCuidadora3 | currency}}</td>
                                    <td style="font-size: 111%;">{{cotizadorInternoServicio.polizaCuidadora4 | currency}}</td>
                                </tr>
                                <tr>
                                    <th scope="row" style="font-size: 111%;">ENFERMERA</th>
                                    <td style="font-size: 111%;">{{cotizadorInternoServicio.polizaEnfermera1 | currency}}</td>
                                    <td style="font-size: 111%;">{{cotizadorInternoServicio.polizaEnfermera2 | currency}}</td>
                                    <td style="font-size: 111%;">{{cotizadorInternoServicio.polizaEnfermera3 | currency}}</td>
                                    <td style="font-size: 111%;">{{cotizadorInternoServicio.polizaEnfermera4 | currency}}</td>
                                </tr>
                                <tr>
                                    <th scope="row" style="font-size: 111%;">ENFERMERA COVID</th>
                                    <td style="font-size: 111%;">{{cotizadorInternoServicio.polizaEnfermeraCovid1 | currency}}</td>
                                    <td style="font-size: 111%;">{{cotizadorInternoServicio.polizaEnfermeraCovid2 | currency}}</td>
                                    <td style="font-size: 111%;">{{cotizadorInternoServicio.polizaEnfermeraCovid3 | currency}}</td>
                                    <td style="font-size: 111%;">{{cotizadorInternoServicio.polizaEnfermeraCovid4 | currency}}</td>
                                </tr>  
     
                            </tbody>
                          </table>
                      </mat-expansion-panel>
                    </mat-accordion>
            </div>
        </mat-tab>
    </mat-tab-group>
    <div class="container bg-white rounded-bottom shadow">
      <div class="row text-center pb-4">
        <div class="col">
          <button type="button" class="btn btn-primary" (click)="onCotizar()"> Cotizar </button>
        </div>
      </div>
    </div>
</form>