.mat-expansion-panel {
    background: white ;
}

.mat-expansion-panel-header-title {
    color: black;
    font-weight: bold;
}

.mat-expansion-panel-header-description {
    color: rgb(0 0 0 / 70%) !important;
}

  .mat-expansion-panel:hover,
  .mat-expansion-panel:focus{
    background-color: rgb(0 0 0 / 5%);
  }