/* You can add global styles to this file, and also import other style files */

/* Importing Bootstrap SCSS file. */
@import '~bootstrap/scss/bootstrap';

html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }
.bg{
    background-image: url(assets/images/ventajas.jpg);
    background-size: cover;
    background-position: center center;
  }

.bgSignIn{
    background-image: url(assets/images/2222.jpg);
    background-size: cover;
    background-position: center center;
  }

  :root {
    --primary: #f8f8f8;
    --light: #142D3C;
    --grey: #efefef;
    --white: rgba(255, 255, 255, 0.78);
  }
  .bg-primary { background-color: var(--primary) !important;}

  .mat-tab-labels {
    background: #6EC1E4;
}

mat-dialog-container {
  background: #f8f8f8 !important;
  color: black !important;
}

.mat-expansion-indicator::after {
  color: rgb(0 0 0 / 70%);
  font-size: 111%;
}

.mat-tooltip {
  font-size: 100% !important;
  white-space: pre-line;
}
