.btn-group-vertical > button{
    margin-bottom:10px;
    border-radius:10px !important;
}

.padding-vertical-1 {
    padding-top: 1em;
    padding-bottom: 1em;
}

input[readonly] {
    background-color: white;
}

.align-center {
    text-align: center;
}

.segCol {
    background: #e9ecef;
}